
@{
    ViewBag.Title = "Cliente";
}

<h2>Cuenta de ahorro</h2>
<br />
<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span class="input-group-text text-dark" id="inputGroup-sizing-lg">Numero de cuenta:</span>
    </div>
    <input type="text" class="form-control" name="email" aria-label="Large" aria-describedby="inputGroup-sizing-lg" placeholder="No. @ViewBag.numero" readonly>
</div>
<br />
<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span class="input-group-text text-dark" id="inputGroup-sizing-lg">Saldo:</span>
    </div>
    <input type="text" class="form-control" name="email" aria-label="Large" aria-describedby="inputGroup-sizing-lg" placeholder="$ @ViewBag.saldo DOP" readonly>
</div>
<br />
<div class="form-group">
    <button type="button" class="btn btn-outline-success text-dark" href="/Cliente/Historial">Historial</button><br />
    <button type="button" class="btn btn-outline-warning text-dark" href="/Cliente/TransferenciaCuenta">Transferir</button><br />
    <button type="button" class="btn btn-outline-primary text-dark" href="/Cliente/Depostio">Depositar</button><br />
    <button type="button" class="btn btn-outline-danger text-dark" href="/Cliente/Inicio">Atras</button>
</div>
