
@{
    ViewBag.Title = "Cliente";
}

<h2>Cuenta de ahorro</h2>
<br />
<h3>Numero de cuenta: #@ViewBag.numero</h3>
<br />
<h3>Saldo: $@ViewBag.saldo</h3>

<a class="btn btn-primary" href="/Cliente/Historial">Historial</a>
<a class="btn btn-primary" href="/Cliente/TransferenciaCuenta">Transferir</a>
<a class="btn btn-primary" href="/Cliente/Depostio">Depositar</a>
<a class="btn btn-primary" href="/Cliente/Inicio">Atras</a>

