
@{
    ViewBag.Title = "ConsumoTarjeta";
}

<h2>ConsumoTarjeta</h2>

<form action="ConsumoTarjeta" method="post" enctype="multipart/form-data">
    <p>Monto consumido <input type="text" name="consumo"></p>
    <p>
        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar">
        <a class="btn btn-primary" href="/Cliente/Tarjeta">Atras</a>
    </p>
</form>