
@{
    ViewBag.Title = "Deposito";
}

<fieldset>
    <legend align="center">→ Deposito ←</legend>

    <div class="container" align="center">
        <form align="center" action="Depostio" method="post" id="log" enctype="multipart/form-data">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text text-dark" id="inputGroup-sizing-lg">Monto:</span>
                </div>
                <input class="form-control text-dark" type="text" aria-label="Large" name="deposito" aria-describedby="inputGroup-sizing-lg">
            </div>
            <div>
                <div class="form-group">
                    <button class="btn btn-outline-success bg-light text-dark" id="sizeShape" type="submit" value="Enviar">Enviar</button>  
                    <button class="btn btn-outline-warning bg-light text-dark" id="sizeShape" type="reset" value="Borrar">Borrar</button>   
                    <a class="btn btn-outline-danger bg-light text-dark" id="sizeShape" href="/Cliente/Cliente">Atras</a>
                </div>
            </div>
        </form>
    </div>
</fieldset>