
@{
    ViewBag.Title = "Inicio";
}

<h2>Cliente</h2>

<a class="btn btn-primary" href="/Cliente/Cliente">Cuenta de ahorro</a>
<a class="btn btn-primary" href="/Cliente/Tarjeta">Tarjeta de credito</a>
<a class="btn btn-primary" href="/Cliente/Prestamo">Prestamo</a>