
@{
    ViewBag.Title = "Prestamo";
}

<h2>Prestamo</h2>

<h3> Monto pendiente: $@ViewBag.monto</h3>


<a class="btn btn-primary" href="/Cliente/Inicio">Atras</a>
<a class="btn btn-primary" href="/Cliente/PagoPrestamo">Pagar</a>
<a class="btn btn-primary" href="/Cliente/Historialprestamos">Historial</a>
