
@{
    ViewBag.Title = "TransferenciaCuenta";
}

<h2>Transferencia</h2>

<form action="TransferenciaCuenta" method="post" enctype="multipart/form-data">
    <p>Cuenta: <input type="text" name="cuenta" size="40"></p>
    <p>Monto <input type="text" name="saldo"></p>
    <p>
        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar">
        <a class="btn btn-primary" href="/Cliente/Inicio">INICIO</a>
    </p>
</form>

