
@{
    ViewBag.Title = "Inicio";
}

<h2>Administrador</h2>

<a class="btn btn-primary" href="/Administrador/VistaClientes">Clientes</a>
<a class="btn btn-primary" href="/Administrador/VistaAhorro">Cuentas de ahorro</a>
<a class="btn btn-primary" href="/Administrador/VistaPrestamos">Prestamos</a>
<a class="btn btn-primary" href="/Administrador/VistaTarjetas">Tarjetas de credito</a>
<a class="btn btn-primary" href="/Administrador/Registro">Usuarios</a>  