
@{
    ViewBag.Title = "Inicio";
}

<fieldset>
    <legend align="center">→ Internet Banking Personal ←</legend>

    <div class="container" align="center">
        <form align="center" action="/Usuario/Login" method="post" id="log">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text text-success" id="inputGroup-sizing-lg">Ingresa tu email:</span>
                </div>
                <input type="text" class="form-control" name="email" aria-label="Large" aria-describedby="inputGroup-sizing-lg">
            </div>
            <br />
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text text-success" id="inputGroup-sizing-lg">Ingresa tu contraseña:</span>
                </div>
                <input class="form-control" type="password" aria-label="Large" name="contraseña" aria-describedby="inputGroup-sizing-lg">
            </div>
            <div>
                <div class="form-group">
                    <button class="btn btn-outline-success bg-light" id="sizeShape">Iniciar sesion</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>